

@page
@model ASP.Net_GruppUPG.Pages.MoviesModel
@{
    ViewData["Title"] = "Movies";
}

<style>
    h1, th, td {
        border: 1px solid black;
        padding: 5px; 
    }
    a {
        color: inherit;
        text-decoration: none;
    }
</style>
@if (Model.movies.Count > 5)
{
    <h5><a href="#addMovieForm">Add Movies</a></h5>

}
<h1>Movies</h1>


<table class="movieTable">
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Description</th>
            <th>Released</th>
            <th>Length</th>
        </tr>
    </thead>
    <tbody>

        @if (Model.movies != null && Model.movies.Count > 0)
        {
            @foreach (var movie in Model.movies)
            {
                <tr>
                    <td>@movie.Title</td>
                    <td>@movie.Genre</td>
                    <td>@movie.Description</td>
                    <td>@movie.ReleaseYear</td>
                    <td>@movie.LengthMin</td>
                    <td>
                        <form method="post">
                            <button class="btn btn-primary" asp-page="/EditMovie" asp-route-movieId="@movie.MovieId">Edit</button> |
                            <button class="btn btn-primary" asp-page-handler="Delete" asp-route-Movieid="@movie.MovieId" onclick="return confirm('Are you sure?')">Delete</button>
                        </form>

                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">No movies found</td>
            </tr>
        }
        
    </tbody>
</table>

<form id="addMovieForm" method="post">
    <div class="form-group">
        <label asp-for="NewMovie.Title"></label>
        <input asp-for="NewMovie.Title" class="form-control"/>
        <span asp-validation-for="NewMovie.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewMovie.Genre"></label>
        <input asp-for="NewMovie.Genre" class="form-control" />
        <span asp-validation-for="NewMovie.Genre" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="NewMovie.Description"></label>
    <input asp-for="NewMovie.Description" class="form-control" />
    <span asp-validation-for="NewMovie.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewMovie.ReleaseYear"></label>
        <input asp-for="NewMovie.ReleaseYear" class="form-control" />
        <span asp-validation-for="NewMovie.ReleaseYear" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewMovie.LengthMin"></label>
        <input asp-for="NewMovie.LengthMin" class="form-control" />
        <span asp-validation-for="NewMovie.LengthMin" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add Movie</button>
</form>
